<footer>
    <div class="soc_container">
        FOLLOW US!
        <div class="socials">
            <button onclick="window.open('https://www.facebook.com/', '_blank')" class="image-placeholder_soc" id="im_fac" aria-label="Facebook"></button>
            <button onclick="window.open('https://www.instagram.com/', '_blank')" class="image-placeholder_soc" id="im_inst" aria-label="Instagram"></button>
        </div>
    </div>

    <div>
        ABOUT US<br><br>
        Ο ΟΜΙΛΟΣ
    </div>

    <div>
        ΕΠΙΚΟΙΝΩΝΙΑ<br><br>
        <a href="mailto:info@gymon.gr">info@gymon.gr</a><br><br>
        2102200000
    </div>
</footer>